.ant-layout-sider-trigger {
  background-color: #16213e !important;
}

.layout-chat {
  height: 100vh;

  .sider-header {
    height: "32px";
    margin: "16px";

    .sider-header-title {
      color: #ecf9ff;
    }
  }

  .content-layout {
    margin-bottom: -1px;
    background-color: #400d51;

    .header-chat {
      padding: 0;
      background-color: #16213e;
    }

    .content-chat {
      margin: 10px 16px;

      .message-bubble {
        margin-block: 10px;
        column-gap: 7px;
        align-items: flex-end;

        .content-chat-message {
          max-width: 30%;
          padding: 0 10px;
          width: fit-content;
          text-align: justify;
          height: fit-content;
          border-radius: 10px;
          color: white;
          background-color: #533483;
        }
      }
    }

    .chat-input-container {
      align-items: flex-end;

      #chat-input {
        color: #ecf9ff;
        margin: 0 0 0 10px;
        padding: 15px;
        align-items: center;
        justify-content: center;
        background-color: #16213e;
      }

      .send-button {
        cursor: pointer;
        color: #533483;
        height: 50px;
        width: 70px;
        font-size: 20px;
        align-items: center;
        justify-content: center;
      }
    }

    .footer-chat {
      text-align: center;
      background-color: #16213e;
    }
  }
}
