.ant-layout-sider-trigger {
  background-color: #16213e !important;
}

.layout-chat {
  height: 100vh;

  .logout-button {
    background-color: transparent;
    width: 100% !important;
    color: white;
    border: none;
    outline: none;
  }

  .sider-header {
    height: "32px";
    margin: "16px";

    .sider-header-title {
      color: #ecf9ff;
      margin-top: 10px;
      padding: 10px;
    }
  }

  .content-layout {
    margin-bottom: -1px;
    background-color: #0b2447;

    .header-chat {
      padding: 0;
      background-color: #16213e;
    }

    .content-chat {
      margin: 10px 16px;
      overflow-x: hidden;
      overflow-y: scroll;
      padding-right: 10px;

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        background: #16213e;
      }

      &::-webkit-scrollbar-thumb {
        background: #19376d;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-corner {
        background: #f1f1f1;
        border-radius: 10px;
      }

      .message-bubble {
        // margin-block: 10px;
        column-gap: 7px;
        align-items: flex-end;

        .content-chat-message {
          // max-width: 30%;
          padding: 0 10px;
          width: fit-content;
          text-align: justify;
          height: fit-content;
          border-radius: 10px;
          color: white;
          background-color: #533483;
        }
      }
    }

    .chat-input-container {
      align-items: flex-end;
      padding-block: 10px;

      #chat-input {
        color: #ecf9ff;
        margin: 0 0 0 10px;
        padding: 15px;
        align-items: center;
        justify-content: center;
        background-color: #19376d;
      }

      .send-button {
        cursor: pointer;
        color: #533483;
        height: 50px;
        width: 70px;
        font-size: 20px;
        align-items: center;
        justify-content: center;
      }
    }

    .footer-chat {
      text-align: center;
      background-color: #16213e;
    }
  }
}
